<% include ../partials/header %> 

 
     <header class="jumbotron">
         <div class="container">
             <h1>Tokyo 2020</h1>
             <p>Inspire others with travel destinations for the Summer Olympic games in Tokyo, Japan</p>
             <p>
                <a class="btn btn-info btn-large" href="/campgrounds/new">Add New Destination</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail bg-dark">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>


<% include ../partials/footer %>
